<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/clima.css">
    <title>Clima</title>
</head>
<body>


    <div class="weather-container">
        <!-- <h1>clima en</h1> -->
        <div class="weather-info"> 

            <div class="city-name"><span id="city-name">Nombre de la Ciudad</span></div>

            <div class="weather-icon">
                <img id="weather-icon" src="" alt="Weather">
            </div>

            <div class="temperature">       
                <p id= "temperature">25°C</p>
                <!-- <p id="date">21 de Octubre, 2023</p> -->
            </div>

            <div class="temperature-min-max">
                <p id="temp-min">Mín: 15°C</p>
                <p id="temp-max">Máx: 30°C</p>
            </div>

            <div class="weather-description">
                <p id="weather-description">Soleado</p>
            </div>
        </div>
    </div>
    
    
    <script src="/scripts/clima.js"></script>
</body>
</html>
