<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/clima.css">
    <title>Clima</title>
</head>
<body>
    <div class="weather-container">
        <!-- <h1>clima en</h1> -->
        <div class="weather-info">
            <span id="city-name"></span>
            <div class="weather-icon">
                <!-- <img id="weather-icon" src="" alt="Weather Icon"> -->
            </div>
            <div class="temperature-and-date">
                <p id="temperature"></p>
                <p id="date"></p>
            </div>
            <div class="temperature-min-max">
                <p id="temp-min"></p>
                <p id="temp-max"></p>
                <p id="weather-description"></p>
            </div>
        </div>
    </div>
    <script src="/scripts/clima.js"></script>
</body>
</html>
