<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO CODO a CODO</title>
    <link rel="stylesheet" href="../styles/torneos.css">
    <link rel="shortcut icon" href="../img/torneo-favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Complejo deportivo</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="./torneos.html">Torneos</a></li>
        </ul>
    </nav>
    
    <main>
        




        <section>
            <h2>Acerca de Nosotros</h2>
            <p> Contamos con instalaciones deportivas, en donde vas a poder realizar actividades como Futbol, Padel y Tenis. 
                Nuestro objetivo es que puedas disfrutar del deporte y divertirte al mismo tiempo.</p>
        </section>
        
        <section>
            <h2>Nuestros Servicios</h2>
            <ul>
                <li>Alquiler de canchas</li>
                <li>Torneos</li>
                <li>Asadores</li>
            </ul>
        </section>
    </main>
    
    <footer>
        <p>Derechos de autor &copy; 2023 Mi Página Web</p>
    </footer>
    
</body>
</html>