<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="../img/torneo-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/styles.css"> 
    
</head>
<body>
    <header>
        <h1>Planeta deportes</h1>
        <img src="https://www.tenvinilo.com/vinilos-decorativos/img/preview/vinilo-infantil-pelota-futbol-color-1399.png" id="pelota">
        <h1>Complejo deportivo</h1>
        <img src="https://w7.pngwing.com/pngs/64/156/png-transparent-tennis-balls-tennis-game-grass-cartoon.png" id="pelota">
    </header> 

    <div class="container">
        <div class="form-container login-container">
            <h1>Iniciar Sesión</h1>
            <form id="login-form" autocomplete="off">
                <div class="error" id="error-user"></div>
                <div class="input-container">
                    <!-- <i class="fas fa-user"></i>  -->
                    <input type="text" id="username" name="username" placeholder="Usuario" autocomplete="off" required>
                </div>
                <div class="error" id="error-pass"></div>
                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder="Contraseña" autocomplete="off" required>
                </div>
                <button type="submit" class= "team-button">Ingresar</button>
            </form>
            <p class="toggle-form-text">¿No tienes una cuenta? <button class="toggle-form-button-register">Regístrate</button></p>
        </div>

        <!-- Zona de Registro -->
        
        <div class="form-container register-container">
            <div class="exito" id="exito-usuario"></div>
            <h1>Registro</h1>
            <form id="register-form" autocomplete="off">
                <div class="error" id="error-username"></div>
                <div class="input-container">
                    <input type="text" id="register-username" name="register-username" placeholder="Usuario" autocomplete="off" required>
                </div>

                <div class="error" id="error-firstname"></div>
                <div class="input-container">
                    <input type="text" name="firstname" id="register-firstname" placeholder="Nombre" autocomplete="off" required>
                </div>

                <div class="error" id="error-lastname"></div>
                <div class="input-container">
                    <input type="text" name="lastname" id="register-lastname" placeholder="Apellido"autocomplete="off"  required>
                </div>
                
                <div class="error" id="error-email"></div>
                <div class="input-container">
                    <input type="email" name="email" id="register-email" placeholder="Email"  autocomplete="off" required>
                </div>

                <div class="error" id="error-password"></div>
                <div class="input-container">
                    <input type="password" name="password" id="register-password" placeholder="Contraseña" autocomplete="off"  required>
                </div>
                
                <div class="error" id="error-birthdate"></div>
                <div class="input-container">
                    <label for="register-birthdate" id="label-date">Fecha de Nacimiento</label>
                    <input type="date" name="birthdate" id="register-birthdate" placeholder="dd/mm/aaaa"onclick="hideLabel()">
                </div>

                <button type="submit" class= "team-button">Registrarse</button>
            </form>
            <p class="toggle-form-text">¿Ya tienes una cuenta? <button class="toggle-form-button-login">Iniciar Sesión</button></p>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Planeta Deportes
                <span class="social-icons">
                    <a href="https://www.facebook.com/tucuenta" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/tucuenta" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/tucuenta" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/tucuenta" target="_blank"><i class="fab fa-github"></i></a>
                    <!-- Agrega más enlaces a tus redes sociales según sea necesario -->
                </span>
            </p>
        </div>
    </footer>
    
    
    



    <script src="../scripts/login.js"></script>
    <script src="../scripts/validation-register.js"></script>
    
</body>
</html>
