<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú Hamburguesa</title>
        <link rel="stylesheet" href="../styles/navbar.css">
    </head>
<body>
    <!-- <div class="navbar">
        <div class="menu-toggle" id="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="menu" id="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a id="loginLink" href="login.html">Iniciar Sesión</a></li>
            <li><a id="registerLink" href="#">Registrarse</a></li>

            <div id="userSection" style="display: none;">
                <img id="userAvatar" src="" alt="Avatar">
                <span id="userName"></span></li>
                <button id="logoutButton">Logout</button>
            </div>

        </ul>
    </div> -->
    <div class="content">
        <!-- Contenido de la página aquí -->
    </div>


    <div class="hero">
        <nav>
            <img src="../img/logo/logo.png" alt="" width="50px" height="50px" class="logo">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Torneo</a></li>
                <li><a href="">Reserva</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Login</a></li>
            </ul>
            <img src="../img/logo/logo.png" alt="" width="50px" height="50px" class="user-pic">
        </nav>

    </div>





    <script src="../scripts/navbar.js"></script>
</body>
</html>

