<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - 25 de mayo</title>
</head>
<body>
        <!--Opciones: 
                Torneos en general
                Torneos con inscripción abierta
                Formulario para anotarse
                Estadisticas de torneos-->
    <header>
        <h1>Torneos</h1>
    </header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul> 
        </nav>            
</body>

<footer>
<p>&copy; 2023 Alquiler de Canchas de Fútbol</p>
</footer>
</html>