<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - 25 de mayo</title>
    <link rel="shortcut icon" href="/img/torneo-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/torneos.css" >
</head>
<body>
    <!--Opciones: 
        Torneos en general
        Torneos con inscripción abierta
        Estadisticas de torneos-->
    <header>
        <h1>Torneos</h1>
    </header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="./torneos.html">Torneos</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Torneos con inscripción abierta</a></li>
            </ul> 
        </nav>  
    <main>
        <h1>Torneos en juego</h1>
        <div class="div_img_medianas">
            <div class ="div_img_torneo">
                <img src="../img/Futbol.jpg" alt="futbol" class="img_medianas" id="imgfutbol">
            </div>
            <div class ="div_img_torneo">
                <img src="../img/Padel.jpg" alt="padel" class="img_medianas" id="imgpadel">
            </div>
            <div class ="div_img_torneo">
                <img src="../img/Tenis.jpg" alt="tenis" class="img_medianas" id="imgtenis">
            </div>
        </div>
    </main>
</body>

<footer>
<p>&copy; 2023 Alquiler de Canchas de Fútbol</p>
</footer>
</html>