<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - 25 de mayo</title>
    <link rel="stylesheet" href="../styles/torneos.css" >
</head>
<body>
    <!--Opciones: 
        Torneos en general
        Torneos con inscripción abierta
        Estadisticas de torneos-->
    <header>
        <h1>Torneos</h1>
    </header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="./torneos.html">Torneos</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Torneos con inscripción abierta</a></li>
            </ul> 
        </nav>
    <img src="/img/pasto_sintetico.jpg" alt="canchas">
</body>

<footer>
<p>&copy; 2023 Alquiler de Canchas de Fútbol</p>
</footer>
</html>