<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - 25 de mayo</title>
    <link rel="shortcut icon" href="/img/torneo-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/torneo_en_juego_futbol.css" >
</head>
<body>
    <!--Opciones: 
        Torneos en general
        Torneos con inscripción abierta
        Estadisticas de torneos-->
    <header>
        <h1>Torneos</h1>
    </header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="./reserva.html">Reservas</a></li>
                <li><a href="./torneos.html">Torneos</a></li>
                <li><a href="./login.html">Iniciar sesion</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Torneos con inscripción abierta</a></li>
            </ul> 
        </nav>  
    <main>
        <h1>Torneos en juego</h1>
        <div class="link_torneo_en_juego"><a href="">Padel</a></div>
        <div class="link_torneo_en_juego"><a href="">Tenis</a></div>
        <div class="div_img_medianas">
            <div class ="div_img_torneo">
                <img src="../img/Futbol.jpg" alt="futbol" class="img_medianas" id="imgfutbol"></a>
            </div>
        <table class="tabla_en_juego_futbol">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Equipo</th>
                    <th>Pts</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DIF</th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cipolletti</td>
                    <td>21</td>
                    <td>7</td>
                    <td>7</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>4</td>
                    <td>+14</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Atenas</td>
                    <td>15</td>
                    <td>7</td>
                    <td>5</td>
                    <td>0</td>
                    <td>2</td>
                    <td>12</td>
                    <td>8</td>
                    <td>+4</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Del Sur</td>
                    <td>14</td>
                    <td>7</td>
                    <td>4</td>
                    <td>2</td>
                    <td>1</td>
                    <td>11</td>
                    <td>7</td>
                    <td>+4</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ferrocarril</td>
                    <td>13</td>
                    <td>7</td>
                    <td>4</td>
                    <td>1</td>
                    <td>2</td>
                    <td>10</td>
                    <td>9</td>
                    <td>+1</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Pergamino</td>
                    <td>12</td>
                    <td>7</td>
                    <td>3</td>
                    <td>3</td>
                    <td>1</td>
                    <td>9</td>
                    <td>7</td>
                    <td>+2</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Güemes</td>
                    <td>15</td>
                    <td>7</td>
                    <td>5</td>
                    <td>0</td>
                    <td>2</td>
                    <td>20</td>
                    <td>8</td>
                    <td>+12</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>9 de julio</td>
                    <td>10</td>
                    <td>7</td>
                    <td>3</td>
                    <td>1</td>
                    <td>3</td>
                    <td>8</td>
                    <td>8</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Central Norte</td>
                    <td>7</td>
                    <td>7</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>6</td>
                    <td>10</td>
                    <td>-4</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Sarmiento</td>
                    <td>6</td>
                    <td>7</td>
                    <td>2</td>
                    <td>0</td>
                    <td>5</td>
                    <td>5</td>
                    <td>12</td>
                    <td>-7</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Unión</td>
                    <td>5</td>
                    <td>7</td>
                    <td>1</td>
                    <td>2</td>
                    <td>4</td>
                    <td>4</td>
                    <td>11</td>
                    <td>-7</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>Próximos encuentros</thead>
            <tbody>
                <tr><td>Cipolletti vs Sarmiento</td></tr>
            </tbody>
        </table>    
        </div>
    </main>
</body>

<footer>
<p>&copy; 2023 Alquiler de Canchas de Fútbol</p>
</footer>

</html>