
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #dfd7d7;
    margin: 0;
    padding: 0;
}

.weather-container {
    margin: 3px auto;
    padding: 4px;
    max-width: 150px;
    border: 1px solid #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: transparent;
}

.weather-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 0fr 0fr 0fr; */
    grid-gap: 1px; 
    align-items: center;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color:aliceblue
}

.city-name {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: rgba(38, 81, 221, 0.788);
    border-radius: 15px 15px 0 0; 
    max-height: 30px;
    padding: 0px; 

}

#city-name{
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.weather-icon {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 0 15px; 
    margin: 0;
}

.weather-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.temperature {
    grid-row: 2;
    grid-column: 2;
}


.temperature p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;

}

.weather-description {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.weather-description p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    background-color: black;
    color: #888;
    border-radius: 0px 0px 15px 15px;

}


.temperature-min-max {
    grid-row: 4;
    grid-column: 1 / span 2;
    display: none;
}

.temperature-min-max p {
    margin: 0;
    font-size: 10px;
}



