


/* Agregar imagen de fondo */
body {
    background-image: url('../img/pasto_sintetico.jpg'); /* Reemplaza 'tu_imagen_de_fondo.jpg' con la URL de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f200;
    flex-wrap: wrap;
}


/* Estilos para los formularios */
.form-container {
    background-color: #121213b9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    text-align: center;
    transition: transform 0.3s;
    width: 300px;
    margin: 10px;
    color: #e7e8f0;
}

.login-container {
    display: none;
}

.register-container {
    display: none;
}



/* Estilos para blockalternar entre el formulario de inicio de sesión y registro */
.toggle-form-button-register, .toggle-form-button-login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
    margin-top: 10px;
}

.toggle-form-button:hover {
    color: #0056b3;
}

/* Estilos para los elementos del formulario */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}


input {
    width: 90%;
    padding: 10px;
    border: 1px solid #4b539c;
    border-radius: 3px;
    background-color: #6b706b77; /* Cambiar a tu color deseado */
    color: #080808;
    font-weight: bold;
}

.error{
    color: red;
    font-size: small;

}

.form-control input.error, .form-select.error{
    border: 2px solid red; 
}

.input-container {
    position: relative;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta la posición horizontal según tus preferencias */
    transform: translateY(-50%);
    color: #888; /* Cambia el color del texto para que parezca un marcador de posición */
    pointer-events: none; /* Evita que la etiqueta interfiera con la interacción del usuario */
    transition: transform 0.2s ease, opacity 0.2s ease;

}

.input-container input:focus + label,
.input-container input:valid + label {
    transform: translateY(-150%) scale(0.8);
    opacity: 0.8;
}

#register-birthdate{
    color: rgba(0, 0, 0, 0);
}


.team-button:hover {
    background-color: #4bc213; /* Cambia a un color diferente al pasar el cursor */
    color: white;
    transition: background-color 0.3s ease;
}
.team-button {
    background-color: #4ac21370; /* Color del equipo */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
}