
/* Estilo para campos autocompletados */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* Modifica el fondo y el texto según tus preferencias */
  background-color: #36393fea; 
  color: #9e9c9c; 
  border: 1px solid #ccc; 
}




/* Estilo general */
/* body {
    font-family: Arial, sans-serif;
    background-color: #36393f; 
    color: #fff;
    margin: 0;
    padding: 0;
} */

/* Agregar imagen de fondo */
/* body {
    background-image: url('../img/pasto_sintetico.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
} */

/* Estilo del encabezado */
/* header {
    background-color: #83b8839d;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
} */

/* Estilo de la barra de navegación
nav {
    background-color: #23272af8;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    flex-wrap: wrap;

}


/* Estilos para los formularios */
.form-container {
    background-color: #121213d2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    text-align: center;
    transition: transform 0.3s;
    width: 300px;
    margin: 100px;
    color: #e7e8f0;
}

.login-container {
    display: none;
}

.register-container {
    display: none;
}


/* Estilos para blockalternar entre el formulario de inicio de sesión y registro */
.toggle-form-button-register, .toggle-form-button-login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
    margin-top: 10px;
}

.toggle-form-button:hover {
    color: #0056b3;
}

/* Estilos para los elementos del formulario */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}


input {
    width: 90%;
    padding: 10px;
    border: 1px solid #7289da;
    border-radius: 3px;
    background-color: #36393fea; 
    color: #9e9c9c;
    /* color: #ffffff; */
    font-weight: bold;
}


.error{
    /* background-color: #00000096; */
    color: red;
    font-size: small;

}

.exito{
    /* background-color: #00000096; */
    color: rgba(52, 170, 29, 0.842);
    font-size: small;

}

.form-control input.error, .form-select.error{
    border: 2px solid red; 
}

.input-container {
    position: relative;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    color: #888; 
    pointer-events: none; 
    transition: transform 0.2s ease, opacity 0.2s ease;

}

.input-container input:focus + label,
.input-container input:valid + label {
    transform: translateY(-150%) scale(0.8);
    opacity: 0.8;
}


#register-birthdate{
    color: rgba(0, 0, 0, 0);
}

.input-container{
    font-size: small;
}

/* .input-container i {
    display: block; 
    margin-right: 1px; 
} */


.team-button {
    background-color: #4ac21370; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
}
.team-button:hover {
    background-color: #4bc213; 
    color: white;
    transition: background-color 0.3s ease;
}
/* Estilo del pie de página */
/* footer {
    background-color: #23272a;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #ccc;
} */