
/* .navbar {
    background-color: #4c4c4ef1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}


.menu li {
    margin-right: 15px;
}

.content {
    padding: 20px;
} */

/* Estilos para los elementos del menú como botones de vidrio */
/* .menu {
    list-style: none;
    padding: 0;
    display: flex;
}


.menu a {
    background-color: #ffffff00;
    text-decoration: none;
    color: #a5a0a0;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
} */

.menu a:hover {
    background-color: #706b6bd8; /* Fondo con transparencia al pasar el mouse */
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
    border-color: rgba(43, 147, 216, 0.836); /* Borde más claro al pasar el mouse */

}


/* Estilo para la imagen de perfil redondeada */
#userAvatar {
    border-radius: 5%;
    width: 30px; /* Ajusta el ancho y alto según tus necesidades */
    height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    
}

/* Estilo para el botón de logout */
#logoutButton {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#userName {
    margin-top: 10px;
    padding-top: 0px;

    color: #a5a0a0;
}
.userSection{
    display: none;
    margin: 0;
    padding: 0;

}

/* Estilos para el menú hamburguesa cuando se muestra */
@media screen and (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        /* background-color: #31c7c786; */
        color: #fff;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        background-color: #c2c2c2;
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: transform 0.3s ease;
    }

    .menu.active .bar:first-child {
        transform: translateY(7px) rotate(45deg);
    }

    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }

     .menu.active .bar:last-child {
        transform: translateY(-7px) rotate(-45deg);
    } 

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 79px;
        left: 0;
        background-color: #2d3d3ac9;
        width: 130px;
        padding: 20px;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    /* Estilos para los enlaces en el menú hamburguesa */
    .menu a {
        text-decoration: none;
        color: #fff; /* Cambiamos el color del texto a blanco */
        padding: 5px 16px;
        margin: 5px;
        font-size: 13px;
        text-align: left;
        transition: background-color 0.3s, color 0.3s;
        display: block;
        width: 80px;
        background-color: #ffffff8e;
        
    }

    /* Estilos al pasar el mouse sobre los enlaces del menú hamburguesa */
    .menu a:hover {
        background-color: #fff;
        color: #000;

    }

    #userAvatar {
        border-radius: 50%;
        width: 40px; 
        height: 40px;
        margin-top: 15px;
        margin-left: 15px;
        padding: 5px 16px;
    }

    #userName {
        display:none;
    }

    #logoutButton {
        background-color: #f00;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;

        margin-left: 15px;
        padding: 5px 16px;
    }
    


}

@media screen and (max-width: 500px)  and (orientation: portrait){
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: #fff;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        background-color: #c2c2c2;
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: transform 0.3s ease;
    }

    .menu.active .bar:first-child {
        transform: translateY(7px) rotate(45deg);
    }

    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }

     .menu.active .bar:last-child {
        transform: translateY(-7px) rotate(-45deg);
    } 

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 107px;
        left: 0;
        background-color: #2d3d3ac9;
        width: 130px;
        padding: 20px;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        text-decoration: none;
        color: #fff; 
        padding: 5px 16px;
        margin: 5px;
        font-size: 13px;
        text-align: left;
        transition: background-color 0.3s, color 0.3s;
        display: block;
        width: 80px;
        background-color: #ffffff8e;
        
    }
    .menu a:hover {
        background-color: #fff;
        color: #000;

    }

}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppi', 'arial';
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-color: #eceaff;
    color: #525252;
}
nav{
    background-color: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
}