
/* Estilos para las tarjetas de las canchas */
.canchas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-radius: 20%;
    color: black

}
.cancha-card {
    border: 1px solid #ccc;
    margin: 10px 10px;
    padding: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    border-radius: 10px; /* octubre */
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5); /*octubre*/
}

.cancha-card h2 {
    font-size: 24px;
    margin: 0;
}

.cancha-card p {
    margin: 5px 0;
}

.reservar-btn {
    background-color: #31c7c7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservar-btn:hover {
    background-color: #0f7f7f;
}


/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: 30px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #000;
}

/* Estilos adicionales para los botones en la modal (ajusta según tus preferencias) */
.modal-content button, #b_cancha {
    margin: 10px;
    padding: 5px 10px;
    background-color: #31c7c7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-content button:hover {
    background-color: #0f7f7f;
}

/* Estilos de formulario de ingreso de busqueda reserva*/
form {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: white;
    height: auto;
    margin:1%;
    border-radius: 20%;
}

form > #f_reserva, #t_reserva{
   margin: 5px;
   font-size: 15px;
   box-sizing: border-box;
   background-color:  rgb(105, 186, 105);
}

form>#b_cancha{
    background-color: #31c7c7;
    color: white
}

form > label{
    color:black;
    margin: 10px;
    padding: 10px;
    text-align:center;
    font-size: 18px;
    box-sizing: border-box;
}

.formulario_reserva{
    border: black;
    background-color: transparent
}



.reserva-info{
    display: none;
    margin: 0;
    padding: 0;
}

#reserva-message {
    text-align: center; /* Centrar el texto */
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #000; 
    padding: 10px; /* Espacio alrededor del mensaje */
    
}