body::before {
    content: "";
    background-image: url(../img/pasto_sintetico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    
}


/* Estilo del encabezado */
header {
    background-color: #83b8839d;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    display: inline-block;
}


#pelota{
    animation:animacion .5s alternate infinite ease-in;
    height: 3%;
    width: 3%;
    border-radius: 50%;    

}

@keyframes animacion{
    0%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);
    }
}


/* Estilo del pie de página */
footer {
    background-color: #23272a;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #ccc;
}
