@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Bree+Serif&family=Playpen+Sans:wght@300&display=swap');
body::before {
    content: "";
    background-image: url(../img/pasto_sintetico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    
}
/*Im치genes medianas*/
.div_img_medianas {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    flex-wrap: wrap;
}    

.img_medianas {
    
    height:30vw;
    width: 20vw;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.img_medianas:hover{
    transform: scale(1.1)


}

/* Estilo del encabezado */
header {
    background-color: #83b8839d;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

/* Estilo de la barra de navegaci칩n */
nav {
    background-color: #23272a;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilo de la secci칩n principal */
main {
    padding: 20px;
    flex: 1;
}

section {
    background-color: #2c2f33;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h2{
    font-size: 20px;
    color: #fff;
}

p ,ul,li {
    font-size: 16px;
    color: #ccc;
}

/* Estilo del pie de p치gina */
footer {
    background-color: #23272a;
    padding: 10px;
    text-align: center;
    position:sticky;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #ccc;
}

/* Estilo de enlaces */
a {
    color: white;
    text-decoration: none;
}

/*torneo_en_juego*/

.link_torneo_en_juego {
    display: inline;
    margin-right: 20px;
    float: right;
    text-decoration: none;
}

a:hover {
    text-decoration:dashed;
    color:#e7b920;
}


@media screen and (max-width: 500px) {
    .div_img_medianas {
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        justify-items: center;
        flex-wrap: wrap;
    }    
    
    .img_medianas {
        
        height:30vw;
        width: 20vw;
        border-radius: 5%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        
    }


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    

}

/* Estilo de texto para carrusel */

.carousel{
    background-color: transparent;
    position: relative;
    max-width: 100%;
}
/* 
.carousel-item.active,.carousel-item {
    position: relative;
}

.carousel-item.active .texto_carousel{
    position: absolute;
    bottom: 3%;
    left: 3%;
    background-color: #ffffff5d;
}*/

.texto_carousel{
    bottom: 3%;
    left: 3%;
    background-color: #ffffff5d;
    text-align: center;
}

.carousel-item {
    min-width: 100%;
    flex: 0 0 auto;

}
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 350px;
}

#titulo_carousel{
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'ABeeZee', sans-serif;
}

.carousel-container {
    display: flex;
    
}

/* Estilo de header con animacion */
h1{
    display: inline-block;
    font-family: 'ABeeZee', sans-serif;
}

#pelota{
    animation:animacion .5s alternate infinite ease-in;
    height: 3%;
    width: 3%;
    border-radius: 50%;
    

}

@keyframes animacion{
    0%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);
    }
}



